<div class="comment">
　<table>
　  <% @book.book_comments.each do |book_comment| %>
　  　<tr>
        <td>
        　<%= attachment_image_tag(book_comment.user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %>
          <%= book_comment.user.name %>
        </td>
　      <td><%= book_comment.comment %></td>
        <td>
　        <% if book_comment.user_id == current_user.id %>
    　　      <%= link_to "Destroy", book_book_comments_path(@book), method: :delete %>
　        <% end %>
        </td>
　    </tr>
    <% end %>
　</table>
</div>
<div class="new-comments">
　<%= form_with(model:[@book, @book_comment], local: true) do |f| %>
    <%= f.text_area :comment, size: "80x6"%>
　　<%= f.submit '送信' %>
　<% end %>
</div>